<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「失敗知らずのプロの味」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      失敗知らずのプロの味
    </h2>
    <p class='service-explain'>
      まかない.comは料理人のレシピ投稿サイト
    </p>
    <p class='service-explain'>
      誰でも無料で利用できます!
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面上部の「失敗知らずのプロの味」帯部分  %>

  <%# まかない.comの3つの特徴部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      まかない.comの3つの特徴
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag "phone-chef.jpeg", class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>料理人</span>
          が投稿するレシピ
        </h3>
        <p class='reason-list-description'>
          プロのレシピなので失敗がありません！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "not-sign-in.jpeg", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>登録不要</span>
          で閲覧可能
        </h3>
        <p class='reason-list-description'>
          どんな人でも使いやすい！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "phone-woman.jpeg", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          気に入ったら
          <span class='reason-list-blue-text'>予約</span>
        </h3>
        <p class='reason-list-description'>
          お店の予約までスムーズです
        </p>
      </li>
    </ul>
  </div>
  <%# /まかない.comの3つの特徴部分 %>

  <%# 画面中央の帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      家庭料理から店舗予約まで
    </h2>
    <p class='ad-explain'>
      まかない.comには○○万以上のレシピが掲載されています！
    </p>
    <p class='ad-explain'>
      予約件数も○○件突破！
    </p>
    <p class='ad-explain'>
      新しいお店に出会えるかも。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("https://linkmaker.itunes.apple.com/ja-jp/badge-lrg.svg?releaseDate=2011-09-21&kind=iossoftware&bubble=ios_apps", class:"apple-btn"), "#" %>
      <%= link_to image_tag("dl-android.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面中央の帯部分 %>

  <%# レシピ一覧 %>
  <div class='item-contents'>
    <h2 class='title'>新着レシピ</h2>
    <%= link_to '新規投稿レシピ', "#", class: "subtitle" %>
    <ul class='item-lists'>

      <% unless @recipes.empty? %>
      <% @recipes.each do |recipe| %>
      <li class='list'>
        <%= link_to item_path(recipe) do %>
        <div class='item-img-content'>
          <%= image_tag recipe.image, class: "item-img" %>
        </div>

        <div class='item-info'>
          <h3 class='item-name'>
            <%= recipe.title %>
          </h3>
          <div class='item-price'>
            <span><%= recipe.category.name %></span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
    <% end %>
      <% else %>
      <%# 商品がない場合のダミー %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/10/a004.png", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            レシピを投稿してね！
          </h3>
          <div class='item-price'>
            <span>和食・日本料理</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
      <%# /商品がない場合のダミー %>
      <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_recipe_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>投稿する</span>
  <%= image_tag 'makanai-logo.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render "shared/footer" %>